section.section.section--7(data-scroll-section data-router-page="cases")

    .container.container--center.container--align-center
        .label.mb-24
            | 💼 Наши результаты
    .container
        .circle.circle--3(data-scroll data-scroll-speed="1" data-scroll-position="top")
        .bg
            img(src=`${baseDir}assets/images/layer-1.png` alt="client")
        .title.title-xxl.center
            | Кейсы
        .cases
            .cases-item.anim-fade(data-scroll)
                .cases-img
                    img(src=`${baseDir}assets/images/cases/1.png` alt="client")
                    .cases-bg
                        img(src=`${baseDir}assets/images/cases/1-1.png` alt="client")
                .cases-title
                    | Food
                .cases-info
                    .cases-stitle
                        | UA:
                    .cases-text
                        | 14000 new orders / m
                .cases-info
                    .cases-stitle
                        | RT:
                    .cases-text
                        | 32000 returned orders / m
            .cases-item.anim-fade(data-scroll)
                .cases-img
                    img(src=`${baseDir}assets/images/cases/2.png` alt="client")
                    .cases-bg
                        img(src=`${baseDir}assets/images/cases/2-2.png` alt="client")
                .cases-title
                    | Entertainment
                .cases-info
                    .cases-stitle
                        | UA:
                    .cases-text
                        | 10000 new registrations / m
                .cases-info
                    .cases-stitle
                        | RT:
                    .cases-text
                        | 24000 new registrations / m
            .cases-item.anim-fade(data-scroll)
                .cases-img
                    img(src=`${baseDir}assets/images/cases/3.png` alt="client")
                    .cases-bg
                        img(src=`${baseDir}assets/images/cases/3-3.png` alt="client")
                .cases-title
                    | Finance
                .cases-info
                    .cases-stitle
                        | UA:
                    .cases-text
                        | 9500 opened cards / m
                .cases-info
                    .cases-stitle
                        | RT:
                    .cases-text
                        | 18300 opened cards / m
            .cases-item.anim-fade(data-scroll)
                .cases-img
                    img(src=`${baseDir}assets/images/cases/4.png` alt="client")
                    .cases-bg
                        img(src=`${baseDir}assets/images/cases/4-4.png` alt="client")
                .cases-title
                    | Ecommerce
                .cases-info
                    .cases-stitle
                        | UA:
                    .cases-text
                        | 17500 new orders / m
                .cases-info
                    .cases-stitle
                        | RT:
                    .cases-text
                        | 28500 new orders / m
            .cases-item.anim-fade(data-scroll)
                .cases-img
                    img(src=`${baseDir}assets/images/cases/5.png` alt="client")
                    .cases-bg
                        img(src=`${baseDir}assets/images/cases/5-5.png` alt="client")
                .cases-title
                    | Betting
                .cases-info
                    .cases-stitle
                        | UA:
                    .cases-text
                        | 3500 ftd / m

            .cases-item.anim-fade(data-scroll)
                .cases-img
                    img(src=`${baseDir}assets/images/cases/6.png` alt="client")
                    .cases-bg
                        img(src=`${baseDir}assets/images/cases/6-6.png` alt="client")
                .cases-title
                    | Game
                .cases-info
                    .cases-stitle
                        | UA:
                    .cases-text
                        | 53500  installs / m

