header.header
    .container.container--center.container--justify.container--align-center
        a.header-logo(href="/")
            img(src=`${baseDir}assets/images/logo.png` alt="client")
        .header-nav
            ul
                li
                    a(href="#home" data-page="home")
                        | О нас
                li
                    a(href="#advertisers" data-page="advertisers")
                        | Технологии
                li
                    a(href="#partners" data-page="partners")
                        | Партнеры
                li
                    a(href="#cases" data-page="cases")
                        | Кейсы
                li
                    a(href="#contacts" data-page="contacts")
                        | Контакты
                li.for-devices
                    .header-lang
                        .is-current
                            img(src=`${baseDir}assets/images/ru.png` alt="client")
                            | Ru
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.99805 8.37512C6.16602 8.37512 6.31055 8.30872 6.43945 8.17981L9.36523 5.17981C9.4668 5.07825 9.52148 4.95325 9.52148 4.80481C9.52148 4.50012 9.2793 4.25793 8.97852 4.25793C8.83008 4.25793 8.68945 4.31653 8.58008 4.4259L6.00195 7.08215L3.41992 4.4259C3.31055 4.32043 3.17383 4.25793 3.02148 4.25793C2.7207 4.25793 2.47852 4.50012 2.47852 4.80481C2.47852 4.95325 2.5332 5.07825 2.63477 5.18372L5.56055 8.17981C5.69727 8.31262 5.83398 8.37512 5.99805 8.37512Z" fill="white"/>
                            </svg>
                        a.is-sup(href="/")
                            img(src=`${baseDir}assets/images/us.png` alt="client")
                            | Eng
        .header-right
            .header-lang.for-desktop
                .is-current
                    img(src=`${baseDir}assets/images/ru.png` alt="client")
                    | Ru
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.99805 8.37512C6.16602 8.37512 6.31055 8.30872 6.43945 8.17981L9.36523 5.17981C9.4668 5.07825 9.52148 4.95325 9.52148 4.80481C9.52148 4.50012 9.2793 4.25793 8.97852 4.25793C8.83008 4.25793 8.68945 4.31653 8.58008 4.4259L6.00195 7.08215L3.41992 4.4259C3.31055 4.32043 3.17383 4.25793 3.02148 4.25793C2.7207 4.25793 2.47852 4.50012 2.47852 4.80481C2.47852 4.95325 2.5332 5.07825 2.63477 5.18372L5.56055 8.17981C5.69727 8.31262 5.83398 8.37512 5.99805 8.37512Z" fill="white"/>
                    </svg>
                a.is-sup(href="/")
                    img(src=`${baseDir}assets/images/us.png` alt="client")
                    | Eng


            .header-burger.for-devices.js-burger
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.2644 8H26.7351C27.4311 8 28.0004 8.56933 28.0004 9.26533V9.40133C28.0004 10.0973 27.4311 10.6667 26.7351 10.6667H5.2644C4.5684 10.6667 4.0004 10.0973 4.0004 9.40133V9.26533C4.0004 8.56933 4.5684 8 5.2644 8ZM26.7351 14.6667H5.2644C4.5684 14.6667 4.0004 15.236 4.0004 15.932V16.068C4.0004 16.764 4.5684 17.3333 5.2644 17.3333H26.7351C27.4311 17.3333 28.0004 16.764 28.0004 16.068V15.932C28.0004 15.236 27.4311 14.6667 26.7351 14.6667ZM26.7351 21.3333H5.2644C4.5684 21.3333 4.0004 21.9027 4.0004 22.5987V22.7347C4.0004 23.4307 4.5684 24 5.2644 24H26.7351C27.4311 24 28.0004 23.4307 28.0004 22.7347V22.5987C28.0004 21.9027 27.4311 21.3333 26.7351 21.3333Z" fill="white"/>
                <mask id="mask0_165_2152" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="8" width="25" height="16">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.2644 8H26.7351C27.4311 8 28.0004 8.56933 28.0004 9.26533V9.40133C28.0004 10.0973 27.4311 10.6667 26.7351 10.6667H5.2644C4.5684 10.6667 4.0004 10.0973 4.0004 9.40133V9.26533C4.0004 8.56933 4.5684 8 5.2644 8ZM26.7351 14.6667H5.2644C4.5684 14.6667 4.0004 15.236 4.0004 15.932V16.068C4.0004 16.764 4.5684 17.3333 5.2644 17.3333H26.7351C27.4311 17.3333 28.0004 16.764 28.0004 16.068V15.932C28.0004 15.236 27.4311 14.6667 26.7351 14.6667ZM26.7351 21.3333H5.2644C4.5684 21.3333 4.0004 21.9027 4.0004 22.5987V22.7347C4.0004 23.4307 4.5684 24 5.2644 24H26.7351C27.4311 24 28.0004 23.4307 28.0004 22.7347V22.5987C28.0004 21.9027 27.4311 21.3333 26.7351 21.3333Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_165_2152)">
                </g>
                </svg>

                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6093 12.3907C19.088 11.8694 18.2453 11.8694 17.724 12.3907L16 14.1147L14.276 12.3907C13.7547 11.8694 12.912 11.8694 12.3907 12.3907C11.8693 12.9121 11.8693 13.7547 12.3907 14.2761L14.1147 16.0001L12.3907 17.7241C11.8693 18.2454 11.8693 19.0881 12.3907 19.6094C12.6507 19.8694 12.992 20.0001 13.3333 20.0001C13.6747 20.0001 14.016 19.8694 14.276 19.6094L16 17.8854L17.724 19.6094C17.984 19.8694 18.3253 20.0001 18.6667 20.0001C19.008 20.0001 19.3493 19.8694 19.6093 19.6094C20.1307 19.0881 20.1307 18.2454 19.6093 17.7241L17.8853 16.0001L19.6093 14.2761C20.1307 13.7547 20.1307 12.9121 19.6093 12.3907ZM16 26.6667C10.1187 26.6667 5.33332 21.8814 5.33332 16.0001C5.33332 10.1187 10.1187 5.33341 16 5.33341C21.8813 5.33341 26.6667 10.1187 26.6667 16.0001C26.6667 21.8814 21.8813 26.6667 16 26.6667ZM16 2.66675C8.64799 2.66675 2.66666 8.64808 2.66666 16.0001C2.66666 23.3521 8.64799 29.3334 16 29.3334C23.352 29.3334 29.3333 23.3521 29.3333 16.0001C29.3333 8.64808 23.352 2.66675 16 2.66675Z" fill="white"/>
                <mask id="mask0_165_2439" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="2" width="28" height="28">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6093 12.3907C19.088 11.8694 18.2453 11.8694 17.724 12.3907L16 14.1147L14.276 12.3907C13.7547 11.8694 12.912 11.8694 12.3907 12.3907C11.8693 12.9121 11.8693 13.7547 12.3907 14.2761L14.1147 16.0001L12.3907 17.7241C11.8693 18.2454 11.8693 19.0881 12.3907 19.6094C12.6507 19.8694 12.992 20.0001 13.3333 20.0001C13.6747 20.0001 14.016 19.8694 14.276 19.6094L16 17.8854L17.724 19.6094C17.984 19.8694 18.3253 20.0001 18.6667 20.0001C19.008 20.0001 19.3493 19.8694 19.6093 19.6094C20.1307 19.0881 20.1307 18.2454 19.6093 17.7241L17.8853 16.0001L19.6093 14.2761C20.1307 13.7547 20.1307 12.9121 19.6093 12.3907ZM16 26.6667C10.1187 26.6667 5.33332 21.8814 5.33332 16.0001C5.33332 10.1187 10.1187 5.33341 16 5.33341C21.8813 5.33341 26.6667 10.1187 26.6667 16.0001C26.6667 21.8814 21.8813 26.6667 16 26.6667ZM16 2.66675C8.64799 2.66675 2.66666 8.64808 2.66666 16.0001C2.66666 23.3521 8.64799 29.3334 16 29.3334C23.352 29.3334 29.3333 23.3521 29.3333 16.0001C29.3333 8.64808 23.352 2.66675 16 2.66675Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_165_2439)">
                </g>
                </svg>

